# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual Environments
venv/
env/
.venv/
ENV/

# Python test caches
.pytest_cache/
.coverage
htmlcov/

# Local Environment Variables
.env
